{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="inputdata">
    <h1 class="text">please input your data</h1>
    <form action="/confirm/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your name here" class="box" required>
        <input type="text" name="pesan" placeholder="your meesage here" class="box" required>
        <input type="submit" value="Submit" id="submit">
    </form>
</div>
<div class="konten">
    {% if isinya|length != 0 %}
    {% for x in isinya %}
    <div class="blurred-box" style="background:{{ x.warna }};">
        <div class="user-login-box">
          <span class="user-icon"></span>
          <div class="user-name">{{ x.nama }}</div>
          <div class="pesan">"{{ x.pesan }}"</div>
          <a href="{% url 'home:color' x.id %}" class="buttonx" name="colorchange" ><button>Change Color</button></a>
        </div>
      
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}