{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="inputdatax">
    <h1 class="text">Is this data valid?</h1>
    <p class="text">Your Name : {{ obj.nama }}</p>
    <p class="text">Your Message : {{ obj.pesan }}</p>
    <div class="buttonx">
        <a href="{% url 'home:homepage' %}"><button id="yesclicker">Yes</button></a>
        <a href="{% url 'home:formdelete' obj.id %}"><button id="noclicker">No</button></a>
    </div>
</div>
{% endblock %}