body {
  height: 100%;
  background-color: black;
}

.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit; 
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;   
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}

.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg);
}

.user-name{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.user-login-box .pesan {
  color: white;
  font-size: 25px;
}

input.user-password{
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

.inputdata {
  color: white;
  display: grid;
  justify-content: center;
}

.inputdata .text {
  text-align: center;
}

#submit {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#submit:hover {
  background: #2ecc71;
}

.konten {
  display: grid;
  height: 100%;
}

.box {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box:focus {
  width: 280px;
  border-color: #2ecc71;
}

.inputdatax {
  display: grid;
  align-items: center;
}

.inputdatax .text {
  color: white;
  text-align: center;
  font-size: 40px;
}

.buttonx {
  display: inline-flex;
  justify-content: center;
}

.buttonx button {
  margin-right: 12px;
}

.buttonx button {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.buttonx button:hover {
  background: #2ecc71;
}

.buttonx button a {
  text-decoration: none;
  color: white;
  font-size: px;
}
