body {
    margin: 0;
    background-image: url("/static/sakura.png");
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.accordian {
    max-width: 600px;
    display: block;
    margin: 100px auto;
}


.accordian .card {
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.accordian .card .card-header h3 {
    cursor: pointer;
    color: #ffffff;
    position: relative;
    margin: 0;
    padding: 20px;
}

.nezuko {
    position: relative;
    background-color: pink;
}

.miku {
    position: relative;
    background-color: #0EEADF;
} 

.logox {
    cursor: crosshair;
    position: absolute;
    right: 20px;
    top: 16px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.accordian .card .card-body {
    padding: 20px;
    background-color: white;
}


.accordian .card .card-body {
    display: none;
}

.accordian .card .card-body p {
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    margin: 0px; 
}

