{% extends "base.html" %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'accstyle.css' %}">
<script src="{% static 'styling.js' %}"></script>
{% endblock %}
{% block main_content %}
<!-- <iframe width="0" height="0" src="https://www.youtube.com/embed/HSOtku1j600?autoplay=1" frameborder="0" allow="autoplay;" allowfullscreen></iframe> -->
<div class="accordian">
    <h1 style="color: pink; cursor: pointer;" class="pinktext">これは私のアコーディオンです</h1>
    <div class="card" id="testedcard">
        <div class="card-header nezuko">
            <h3 class="carda">Get To Know Me</h3>
            <i class="fa fa-arrow-circle-up logox upper"  id="testedupper" style="font-size: 30px; color: white;"></i>
            <i class="fa fa-arrow-circle-down logox downer" id="testeddowner" style="font-size: 30px; right:50px; color: white;"></i>
        </div>
        <div class="card-body" >
            <p>
                Name : Nofaldi Fikrul Atmam <br>
                You can call me anytime (UwU) <br>
                i kinda like watching anime, nah just kidding i really like it.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header nezuko">
            <h3 class="carda">What I Do Now</h3>
            <i class="fa fa-arrow-circle-up logox upper" style="font-size: 30px; color: white;"></i>
            <i class="fa fa-arrow-circle-down logox downer" style="font-size: 30px; right:50px; color: white;"></i>
        </div>
        <div class="card-body">
            <p>
                PJJ is fucking me up man <br>
                i only studying in my room right now <br>
                sometime i play games <br>
                but anime is lyfe <br>
                also doing my project
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header nezuko">
            <h3 class="carda">My Recent Organization</h3>
            <i class="fa fa-arrow-circle-up logox upper" style="font-size: 30px; color: white;"></i>
            <i class="fa fa-arrow-circle-down logox downer" style="font-size: 30px; right:50px; color: white;"></i>
        </div>
        <div class="card-body">
            <p>
                Right now im on faculty of computer science student executiv <br>
                i also apply PERAK and Compfest <br>
                i also part timing at my friends company as a backend developer 
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header nezuko">
            <h3 class="carda">Current Following Anime</h3>
            <i class="fa fa-arrow-circle-up logox upper" style="font-size: 30px; color: white;"></i>
            <i class="fa fa-arrow-circle-down logox downer" style="font-size: 30px; right:50px; color: white;"></i>
        </div>
        <div class="card-body">
            <p>
                One Piece <br>
                En En No Shoubotai <br>
                Black Clover <br>
                BNHA <br>
                TANJIRO MATI
            </p>
        </div>
    </div>
    <img src="/static/nezuko1.png"  class="nezuco" id="foto" style="width: 300px; height: 300px; margin-left: 120px; cursor: pointer;" alt="This Is Cute Nezuko">
</div>


{% endblock %}