{% extends "base.html" %}
{% load static %}
{% block title%}
Story9-PPW
{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'styleajx.css' %}">
<script src="{% static 'ajx.js' %}"></script>
{% endblock %}
{% block main_content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Book Search</a>
        </div>
        <div class="form-inline formex">
            <input class="form-control mr-sm-2" type="text" id="valued" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 inputted" id="inputted">Search</button>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-hover tbl" id="tblanswr">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Author</th>
                <th>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalCentered" id="modale">
                        Show Top 5
                    </button>

                    <!-- Modal -->
                    <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenteredLabel">Top 5 Most Like Books</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body isibody">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="answr">
        </tbody>
    </table>
</div>
{% endblock %}